







// footer {
//     background-color: #eee;
    
//     .footer_datos {
//         display: flex;
//         flex-flow: row;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         @include media-breakpoint-up(lg) {
//             flex-direction: row;
//         }

//         .datos_oficina {
//             margin: 1rem;
//             text-align: center;

//             @include media-breakpoint-up(md) {
//                 width: 45%;
//             }
                      
//             .datos_oficina_redes {
//                 font-size: 2rem;
//                 margin-top: 1.5rem;

//                 &>a {
//                     margin: 0 .55rem;

//                     span {
//                         color: rgba(0, 0, 0, 0.85);
//                         transition: all .3s ease-in;
//                     }

//                     span:hover {
//                         color: $color-green;
//                         transform: scale(1.3);
//                         transition: all .3s;
//                     }
//                 }
//             }
//         }
//     }

//     .datos_map {
//         padding: 2rem 0;
//         width: 100%;
//         @include media-breakpoint-up(lg) {
//             width: 60%;
//         }
//     }

//     .footer__redes {
//         display: flex;
//         flex-flow: row nowrap;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         height: 6rem;
//         gap: .5rem;
//         padding: 0rem;
//         background-color: rgb(209, 227, 241);
//         color: rgb(77, 67, 10);
//         font-size: 2.2rem;

//         @include media-breakpoint-up(md) {
//             gap: 2rem;
//         }

//     }

   
//     .footer__icontop {
//         font-size: 1.5rem;
//         display: block;
//         position: absolute;
//         bottom: 15px;
//         right: 15px;
//         a {
//             color: $color-green;
//             display: inline-block;
//             transition: all ease .6s;
//             &:hover {
//                 scale: 1.3;
//             }
//         }

//         @include media-breakpoint-up(md) {
//             font-size: 2.4rem;
//             bottom: 6px;
//             right: 25px;
//         }

//     }

//     .WapFlotante {
//         position: fixed;
//         bottom: 12px;
//         left: 20px;
//         font-size: 3rem;
//         transition: all ease .6s;

//         @include media-breakpoint-down(md) {
//             animation-name: shake;
//             animation-duration: 2s;
//             animation-iteration-count: infinite;
//         }

//         @include media-breakpoint-up(md) {
//             &:hover {
//                 scale: 1.2;
//             }
//         }


//         a {
//             text-decoration: none;
//             color: rgb(21, 214, 21);
            

//         }

//     }

//     .footer-bottom {
//         background-color: #222;
//         color: #fff;
//         font-size: .8rem;
//         text-align: center;
//         padding: 1.5rem 0;
//         position: relative;
//         p {
//             margin: 0;
//         }
//     }
// }

.masInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorMain;
    padding: 40px 0px;
        

    .masInfo__datos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
        color: white;

        .masInfo__datos--titulo{
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0rem 0.3rem;

            @include media-breakpoint-up(md) {
                font-size: 1.9rem;  
            
            }
        }
        .masInfo__datos--text{
            font-size: 1.1rem;
            margin-bottom: 1rem;
            margin-right: 0.3rem;
            margin-left: 0.3rem;

            @include media-breakpoint-up(md) {
                font-size: 1.2rem;  
            
            }
            
        }

        .masInfo__datos--Whatsapp{
            font-size: 1.1rem;
            background-color: rgb(31, 202, 31);
            border-radius: 22px;
            border-style: none;
            color: white;
            padding: 0.3rem 1.5rem;
            margin: 0rem 0.3rem;

            @include media-breakpoint-up(md) {
                font-size: 1.3rem;  
            
            }

        }
    }
}

.maps{
    iframe{
        width:100%;
        height: 500px;
    }
}

.formulario{
    background-color: #E6E6E6;

    .TituloFormulario{
        text-align: center;
        margin: 10px 0px;
        
        p{
            font-size: 1.1rem;
        }
    }

}

.form-group{
    padding: 10px 0px;
}



.copyright{
    color: white;
    background-color: $colorMain;
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;

    p{
        margin: 0;
    }
}