html {
    scroll-behavior: smooth;
}













// body {
//     font-family: 'PT Sans', sans-serif;
//     font-size: 18px;
//     line-height: 1.3;
//     color: #333;
// }

// section {
//     padding: 3rem 0;
// }

// .container {
//     padding-left: 15px;
//     padding-right: 15px;
// }

// strong {
//     font-weight: 700;
// }

// .button {
//     padding: 10px 21px;
//     border-radius: 5px;
//     background-color: #00b3a6;
//     box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 30%), 0 2px 10px 0 rgb(0 0 0 / 20%);
//     transition: background-color 0.3s ease;
//     color: #fff;
//     font-size: 23px;
//     font-weight: 400;
//     text-align: center;
//     text-decoration: none;
//     border: 0;
//     min-width: 200px;
//     display: inline-block;
//     &:hover {
//         background-color: #00847a;
//         color: #fff;
//     }
// }

// h1,
// h2 {
//     line-height: 1.15;
//     letter-spacing: .01em;
//     color: $color-green;
//     font-weight: 700;
//     text-shadow: 1px 1px 3px #222;
//     margin-bottom: 1rem;
// }

// h1 {
//     font-size: 2.75rem;

//     @include media-breakpoint-up(md) {
//         font-size: 3.25rem;
//     }
// }

// h2 {
//     font-size: 2.25rem;

//     @include media-breakpoint-up(md) {
//         font-size: 2.85rem;
//     }

//     &:after {
//         content: "";
//         display: block;
//         height: 2px;
//         background-color: $color-orange;
//         width: 80px;
//         margin-left: auto;
//         margin-right: auto;
//         transform: translateY(10px);
//     }

// }

// @keyframes shake {
//     from {
//         scale: 1.0;
//     }
//     50% {
//         scale: 1.3;
//     }
//     to {
//         scale: 1.0;
//     }
// }

// .iconPhone,
// .iconLocation,
// .iconMail {
//     margin-right: 0.85rem;
//     color: $color-green;
// }