

header {
    
    .top-header-fondo{
        background-color: $colorMain;
        border-bottom: 1px solid rgba(255,255,255,0.2);

        .top-header{

            display: none;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            
            
            color:white;
    
            @include media-breakpoint-up(lg) {
                display:flex
            }
            
            .slogan{
                p{
                    margin:0;
                    padding:5px;
                }
            }
            
            .InfoContacto{
                display: flex;
                gap:15px;
    
                p{
                    margin:0;
                    padding: 5px;
                    a{
                        color:white;
                        text-decoration: none;
                        
                    }
                }
            }
           
        }
    }
    
    
    

    .navbar{
        background-color: $colorMain;
        // height: 145px;
        // se me jode el menu hamburguesa


        .navbar-collapse {
       flex-grow: inherit;
        }
        .nav-link{
            font-size: 18px;
            color:#ffffff;
        }
      
    }

    .navbar-brand{

        img{
            width: 140px;
        }
    }


}
