header {
    .top-header-fondo {
        background-color: $color-blue-main;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding: 0.5rem 0;
        display: none;
        @include media-breakpoint-up(lg) {
            display: block;
        }

        .top-header {
            display: none;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            color:#fff;
    
            @include media-breakpoint-up(lg) {
                display: flex;
            }
            
            .slogan{
                p {
                    margin:0;
                    padding:5px;
                }
            }
            
            .InfoContacto{
                display: flex;
                gap: 15px;
    
                a {
                    padding: 5px;
                    display: flex;
                    color: #fff;
                    text-decoration: none;
                    align-items: center;

                    &.link-text {
                        i {
                            margin-right: 0.5rem;
                            display: inline-block;
                        }
                    }
                    i {
                        font-size: 1.4rem;
                    }
                }
            }
           
        }
    }

    .navbar{
        background-color: $color-blue-main;
        // height: 145px;
        // se me jode el menu hamburguesa


        .navbar-collapse {
            flex-grow: inherit;
            .nav-item {
                &:not(:last-child) {
                    margin-right: 1.8rem;
                }
                .nav-link{
                    font-size: 1.7rem;
                    color:#ffffff;
                    letter-spacing: -0.02em;
                    font-weight: 300;
                }

                &.contact-us {
                    background-color: $color-whatsapp;
                    padding: .2rem 1.4rem;
                    display: flex;
                    align-items: center;
                    border-radius: 2rem;
                    i {
                        margin-right: 1rem;
                    }
                }
            }
        }
      
    }

    .navbar-brand {
        img {
            width: 126px;
            height: auto;
        }
    }

}
