.loteo{
    height: 30vh;
    width: 100%;
    margin: 50, 0;
    background-color: bisque;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


